<app-transacao-modal
  *ngIf="isModalAberto"
  [tipo]="tipoTransacao"
  [tipoConta]="tipoContaEnum.poupanca" [idConta]="idDaContaPoupanca"
  (fechar)="fecharModal()"
  (transacaoConcluida)="fecharModal()"
></app-transacao-modal>

<app-header></app-header>
<h1>Conta Poupança</h1>

<div class="info-agencia-conta">
  Agencia: {{informacoesContaPoupanca.codigo_agencia ? informacoesContaPoupanca.codigo_agencia : ''}} - Conta: {{informacoesContaPoupanca.numero_conta}}
</div>

<div class="container-conta-poupanca">
    <div class="container-saldo">
        <p>{{informacoesContaPoupanca.saldo | currency: 'BRL': 'symbol':'1.2-2'}}</p>
    </div>
    <div class="container-informacoes">
        <div (click)="depositar()">Depósito</div>
        <div (click)="sacar()">Saque</div>
    </div>
    <div class="container-rendimento">
        Rendimento mensal: {{informacoesContaPoupanca.taxa_rendimento | percent:'1.2-2'}}
    </div>
</div>